@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1300;1400;1500;1600;1700;1800;1900 & mostrar=intercambiar');

body {
    font-family: 'Montserrat', sans-serif;
}


#contacto {
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#inicio {
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#proyectos {
    background-image: url(../images/fondo-proyectos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cohete {
    height: 380px;
}

.cohete:hover {
    height: 400px;
}

.espacial {
    height: 430px;
}

#inicio p {
    color: white;
    border: 1px solid white;
    border-radius: 44px;
    width: 410px;
    font-weight: 600px;
    font-size: 18px;
    margin: 17px;

}

.proyectitos {
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    width: 180px;
}

nav .nav-link {
    color: #282828;

}

nav .active {
    border: 1px solid #E20000;
    border-radius: 20px;
}

h1 {
    color: #e2000e;
}

p {
    color: #6a6a6a;
}

textarea {
    height: 150px;
}

.btn {
    color: #370a6d;
    background-color: white;
    border: none;
    border-radius: 15px;
}

.btn:hover {
    color: white;
    background-color: #370a6d;
    cursor: pointer;
}

.btn-rojo {
    background-color: #E20000;
    color: white;
    font-weight: 60px;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}

.btn-rojo:hover {
    color: white;
    background-color: #370a6d;
}

.link-rojo {
    color: #E20000;
    text-decoration: none;
}

.whatsapp {
    background-color: #370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;
}

.whatsapp a {
    color: white;
}
section #personal, section #experiencia, section #formación {
    background-color: white;
}
#Stack {
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
}

#Stack .tecnologias {
    background-color: white;
    border-radius: 10px;
    height: 178px;
}

#Stack h2 {
    color: white;
    font-size: 26px;
}

#Stack .tecnologias h3 {
    font-size: 14px;
    color: rgba(22, 15, 15, 0.5);
    font-weight: 300px;
    text-align: center;

}

#Stack .tecnologias img {
    height: 62px;
    display: block;
    margin: auto;
}

#experiencia h2,
h4 {
    color: #370A6D;
}

#experiencia h2 {
    font-size: 24px;
    font-weight: 400px;
}

#experiencia h3, #formación h3 {
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600px;
}

#experiencia h4, #formación h4 {
    font-size: 20px;
}

#experiencia h5, #formación h5 {
    color: #6a6a6a;
    font-size: 15px;
}

#experiencia .logos img {
    background-color: grey;
    display: block;
    margin: auto;
    height: 120px;
    width: 125px;
}

#formación .logos img{
    background-color: grey;
    display: block;
    margin: auto;
    height: 120px;
    width: 125px;
}
#formación h2,h4{
    color: #E20000;
}
#formación h2{
    font-size: 24px;
}
#varios {
    background-color: #eee;
}
#varios .caja{
    border-radius: 27px;
}
#varios i{
    font-size: 94px;
    border-radius: 20px;
    color: white;
    background-color: rebeccapurple;
    padding: 34px 0px;
    
}
#varios .logos{
    background-color: rebeccapurple;
    border-radius: 19px;
}
#varios .idioma, .hobbie {
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    margin: auto;
    padding: 14px;
}
#varios ul {
    padding: 0px;
    font-size: 16px;
    color: #282828;
    list-style-type: none;
}
#varios h2{
    font-size: 24px;
    font-weight: 400px;
}

#contacto footer,
#inicio footer {
    color: white;
}

#contacto footer,
#inicio footer a {
    color: white;
}

#contacto footer .fa-linkedin-in,
#inicio footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

#contacto footer .fa-github,
#inicio footer .fa-github {
    font-size: 30px;
    color: white;
}

.parrafo {
    width: 400px;
}

.foto {
    border-radius: 148px;
    height: 190px;
    background-color: white;

}

#proyectos footer, #sobre-mi footer {
    color: #ff4a49;
}

#proyectos footer a, #sobre-mi footer a {
    color: #ff4a49;
}

#proyectos footer .fa-linkedin-in, #sobre-mi footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

#proyectos footer .fa-github, #sobre-mi footer .fa-github {
    font-size: 30px;
    color: #ff4a49;
}

#proyectos .whatsapp a, #sobre-mi .whatsapp a {
    color: white;
}

.proyecto {
    background-color: white;
}

.proyecto h2 {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background:linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    padding: 14px;
}

.proyecto p {
    font-size: 14px;
    font-weight: 400;
    height: 140px;
}

.proyecto img {
    height: 212px;

}

@media (max-width: 750px) {

    #contacto,
    #inicio {
        background-image: url(../images/fondo-proyectos.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #proyectos {
        background-size: contain;
        background-repeat: no-repeat;
    }

    #inicio p {
        color: #ff4a49;
        border: 1px solid #ff4a49;
        width: 346px;
        font-weight: 600px;
        font-size: 18px;

    }

}